<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gridview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_background_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".nav_profileActivity"
            android:screenOrientation="fullSensor"></activity>
        <activity android:name=".Part6SqliteUpdateActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Part6SqliteShowAllAccountSecurityActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Part6SqliteDisplayAllAccountActivity"
            android:screenOrientation="fullSensor"></activity>
        <activity android:name=".Part6SqliteShowAllActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".SqliteDatabaseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part5TabLayout"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part5FrameLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part5TableLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part5RelativeLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part4HTMLContentActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part4MediaPlayerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part4ExpandableListViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part4SpinnerActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part4AutoCompleteTextViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part4RecyclerViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part4CustomGridViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part4ArrayGridViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part4CustomListView"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part4ArrayAdapterActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part4HintsActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part3ActivitiForResultSecondActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part3ActivitiForResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part3ImplicitActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part3ExplicitCountryDetailsActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part3FirstExplicitActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part1AutoLinkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part1ZoomControlerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part1CustomToastActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1ToastActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1TextClockActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1DigitalClockActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1AnalogClockActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1AlertDialogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part1TimePickerDialogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part1TimePickerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part1DatePickerDialogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part1DatePikerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part1ProgressBarHorizontalsActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1ProgressBarVerticalActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1SeekBarActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1RatingBarActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1TextAreaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part1EditTextActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1SwitchActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1CheckBoxActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Part1RadioButtonActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1ImageButtonActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1ButtonActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1HintsActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1WebViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1VideoViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1ImageViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part1ScrollViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1TextViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part1ViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part7Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part6Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part5Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Part4Activity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".Part3Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Part2Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".Part1Activity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".ForgotActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>